/* Add this CSS to your existing styles or create a new CSS file (CategoriesStyles.css) */

.container {
    margin-top: 20px;
  }
  
 .categories .btn-primary {
    background-color: transparent !important;
    border: 2px solid #0a0b0c;
    color: #090a0b;
    padding: 15px;
    width: 100%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }
  
.categories .btn-primary:hover{
    background-color: bisque;
}
  
  @media screen and (max-width: 768px) {
    .gx-3,
    .gy-3 {
      margin: 0;
    }
  
    .btn-primary {
      margin-bottom: 20px;
    }
  }
  